$color-principal: #39A900;
$color-secundario: #00324D;

body{
  width: 100%;
  .alert{
    font-size: 1.3rem;
    border-radius: 0;
    margin: 0;
    width: 100%;
  }
  margin: 0;
  padding: 0;
  .contenedor{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.card{
  box-shadow: 0 0 2px $color-secundario;
  max-height: 90vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  .imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    // background-image: url(../img/persona.jpeg);
    // background-repeat: no-repeat;
    // opacity: 0.5;
    // &:hover{
    //   opacity: 1;
    // }
  }
  .formulario{
    .card-body{
      gap: 2rem ;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      form {
        input{
          transition: 0.5s;
          &:hover{
            border: 1px solid $color-principal;
            box-shadow: 0 0 3px $color-principal;
            
          }
          &:focus{
            border: 1px solid $color-principal;
            box-shadow: 0 0 3px $color-principal;
          } 
          &::placeholder{
            color: darkgrey;
          }
          }
          div p {
            font-size: 0.8rem;
            color: darkgrey;
          }
          a{
            text-decoration: none;
            color: $color-principal;
          }
          .foot{
            margin: 0.3rem 0;
            text-align: end;
            a{
              color: $color-secundario;
            }
          }
        }
      }
      h1{
        font-size: 1.7rem;
        text-align: center;
        opacity: 0.4;
      }
      .imagenes{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        .asiste{
          cursor: pointer;
          width: 15rem;
        }
        .sena{
          cursor: pointer;
          width: 6rem;
        }
      }
      form{
        .botones{
          display: flex;
          justify-content: space-between;
          .boton-1{
            width: 10rem;
            background-color: $color-principal;
            border: 2px solid $color-principal;
            transition: 0.5s;
            &:hover{
              color: $color-principal;
              background-color: transparent;
              transform: translateY(-3px);
            }
          }
          .boton-2{
            width: 10rem;
            color:$color-secundario;
            background-color: transparent;
            border: 1px solid $color-secundario;
            transition: 0.5s;
            &:hover{
              color: white;
              background-color: $color-secundario;
              transform: translateY(-3px);
            }
          }
        }
      }
    }
}
.card img{cursor: pointer;
  width: 30rem;
}

@media(max-width:414px){
  body{
    .contenedor{
      .card{
        .imagenes{
          .img-1{
            width: 13rem;
          }
          .img-2{
            width: 4rem;
          }
        }
      }
    }
    .copyright{
      height: 3rem;
    }
  }
}
