<style>
  footer{
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  height: 6rem;
  width: 99vw;
  background-color: #39A900;
  }
  .copyright{
    width: 50vw;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
  }
  img{
    justify-content: space-evenly;
    align-items: center;
    width: 12rem;
  }
</style>

<footer>
  <div class="copyright">
    <a href="{% url 'landing' %}"><img src="../../static/img/_logo_asiste_fondo.png" alt="logo asiste para fondo solido"></a>
    &copy; 2023 ASISTE. Todos los derechos reservados.
  </div>
</footer>