<style>
  ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  li{
    font-size: 1.2rem;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  li:hover{
    color: #39A900 !important ;
  }
</style>

<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'landing' %}"><img src="../../static/img/_logo_asiste_horizontal.png" alt="logo asiste" style="width: 15rem;"></a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <i class="bi bi-house-door-fill"></i>
          <a class="nav-link" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <i class="bi bi-pen-fill"></i>
          <a class="nav-link" href="#">Registro de novedad</a>
        </li>
        <li class="nav-item">
          <i class="bi bi-person-fill-check"></i>
          <a class="nav-link" href="#">Asistencia</a>
        </li>
        <li class="nav-item">
          <i class="bi bi-chat-dots-fill"></i>
          <a class="nav-link" href="#">Notificaciones</a>
        </li>
        <li class="nav-item">
          <i class="bi bi-info-circle-fill"></i>
          <a class="nav-link" href="#">Información</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-gear-fill"></i></a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Configuraciones</a></li>
            <li><a class="dropdown-item" href="#">Actualizar datos</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesion</a></li>
          </ul>
        </li>
        {% else %}
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

        <!-- <li class="nav-item">
          <a class="nav-link" href="{% url 'add_record' %}">Add record</a>
        </li> -->

          <!-- <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Cerrar sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Registrarse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Iniciar sesión</a>
        </li> -->
